<ion-view view-title="Create a New Post">
  <ion-content class="content">
    <form id="new-form" ng-submit="post()">
      <div class="new-post">
        <label class="item item-input">
          <input type="text" placeholder="What's on your mind?" ng-model="form.content">
        </label>

        <div class="row">
          <div class="col form-group">
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                  Genre
                </div>

                <select class="form-control" ng-model="form.genre">
                  <option disabled selected value>Select</option>
                  <option>idk</option>
                  <option>Confession</option>
                  <option>LOL</option>
                  <option>Serious</option>
                  <option>Feels</option>
                  <option>Sad</option>
                  <option>Advice</option>
                </select>
              </label>
            </div>
          </div>
        </div>

        <label class="item item-input">
          <input type="text" placeholder="Voting Option #1" ng-model="form.optionOne">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Voting Option #2" ng-model="form.optionTwo">
        </label>

        <div class="padding">
          <button class="button button-block button-energized">
            Submit
          </button>
        </div>
    </form>
  </ion-content>
</ion-view>