<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Home -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/page/dash">
    <ion-nav-view name="page-dash"></ion-nav-view>
  </ion-tab>

  <!-- New Post -->
  <ion-tab title="New" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose-outline" href="#/page/newPost">
    <ion-nav-view name="page-newpost"></ion-nav-view>
  </ion-tab>

  <!-- My Posts -->
  <ion-tab title="My Posts" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/page/myPosts">
    <ion-nav-view name="page-myposts"></ion-nav-view>
  </ion-tab>

  <!-- Messages -->
  <ion-tab title="Messages" icon-off="ion-ios-email-outline" icon-on="ion-ios-email-outline" href="#/page/messages">
    <ion-nav-view name="page-messages"></ion-nav-view>
  </ion-tab>

  <!-- Account -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/page/account">
    <ion-nav-view name="page-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>