<ion-view view-title="Sign Up">
  <ion-content class="content">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="form.username">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Alias" ng-model="form.alias">
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="form.password">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-energized" ng-click="signup()">
        Sign Up
      </button>

      <p class="entry-redirect text-center">
        <a href="#/login">Back to login</a>
      </p>
    </div>
  </ion-content>
</ion-view>