/*******************/
/* Ionic Popup CSS */
/*******************/

.popup-head {
  display: none;
}

.popup-title {
  color: #ffffff;
}

.popup-body {
  text-align: center;

  margin: 20px 0 20px 0;
}

.popup-buttons .button:last-child {
  background-color: #ffc900;
}

/********************/
/* Login/Signup CSS */
/********************/

.entry-redirect {
  font-size: 16px;
  margin-top: 40px;
}

.entry-redirect a {
  text-decoration: none;
}

/************/
/* Dash CSS */
/************/

.dash-post {
  border-bottom: 0.5px solid #e6e6e6;
  /*padding: 15px 10px 5px 10px;*/
}

.dash-post-content {
  color: #444;
}